---
---
<div transition:animate="slide" class="nav-links">
    <a href="/" data-astro-reload>Home</a>
    <a href="/about/" data-astro-reload>About</a>
    <a href="/blog/" data-astro-reload>Blog</a>
    <a href="/tags/"data-astro-reload>Tags</a>
</div>